[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
customtkinter = "*"
pygame = "*"
pillow = "*"
audioread = "*"
ctklistbox = "*"
packaging = "*"
lyricsgenius = "*"
flask = "*"
youtube-search-python = "*"
spotipy = "*"
yt_dlp = "*"
ctkmenubar = "*"
ctktable = "*"

[dev-packages]

[requires]
python_version = "3.11"
