<!DOCTYPE html>
<html>
<head>
    <title>Meowsic Web Interface</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css') }}"">
</head>
<body bgcolor="orange">
    <h1>Meowsic Web Interface</h1>
    <script>
            var ip = location.host
    </script>
    <div id="buttons-container">
        <button id="previousButton">
            <img src="{{ url_for('static',filename='previous_btn.png') }}" alt="Previous">
        </button>
        <button id="playPauseButton">
            <img id="playPauseIcon" src="{{ url_for('static',filename='play_btn.png') }}" alt="Play">
        </button>        
        <button id="nextButton">
            <img src="{{ url_for('static',filename='next_btn.png') }}" alt="Next">
        </button>
    </div>

    <script>
        // Function to send a POST request to the server
        function sendControlAction(action) {
            fetch('http://'+ip+':5000/control', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded',
                },
                body: `action=${action}`,
            })
            .then(response => response.text())
            .then(result => console.log(result))
            .catch(error => console.error(error));
        }
        var playing = 0;  // replace this with your actual logic to determine the state
        // Attach click event handlers to the buttons
        document.getElementById('playPauseButton').addEventListener('click', function() {
            sendControlAction("play_pause")
            console.log(playing)
            // Get the play/pause button and icon elements
            var playPauseButton = document.getElementById('playPauseButton');
            var playPauseIcon = document.getElementById('playPauseIcon');

            // Toggle between play and pause icons
            if (playing === 0) {
                playPauseIcon.src = "{{ url_for('static',filename='pause_btn.png') }}";
                playing=1
                // Add logic for pausing the music
            } else {
                playPauseIcon.src = "{{ url_for('static',filename='play_btn.png') }}";
                playing=0
                // Add logic for playing the music
            }
        });

        document.getElementById('previousButton').addEventListener('click', () => {
            sendControlAction('song_previous');
        });

        document.getElementById('nextButton').addEventListener('click', () => {
            sendControlAction('song_next');
        });
    </script>
</body>
</html>
